<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование беседки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <img src="" alt="">
            </div>
            <ul class="menu">
                <li><a href="/index">Главная</a></li>
                <li><a href="#">Моя квартира</a></li>
                <li><a href="/offers">Предложение</a></li>
                <li><a href="/booking">Бронирование</a></li>
                

            </ul>
            <div class="btn">
                <button>Профиль</button>
                <button>Вопросы к УК</button>
                <button>Помощь</button>
            </div>
        </div>
    </div>
    <div class="container">
                <h3>Форма бронирования:</h3>
                <form id="reservationForm">
                    <div class="form-group">
                        <label for="besedka">Выберите номер беседки:</label>
                        <select id="besedka" class="form-control" required>
                            <!-- Здесь будут добавляться беседки из JavaScript -->
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="date">Дата бронирования:</label>
                        <input type="date" id="date" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label for="date">Период бронирование(в часах):</label>
                        <input type="text" id="name" class="form-control" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Забронировать</button>
                </form>
            </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="js/scripts.js"></script>
</body>
</html>