<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование беседки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>

    <div class="header">
        <div class="navbar">
            <div class="logo">
                <img src="" alt="">
            </div>
            <ul class="menu">
                <li><a href="/">Главная</a></li>
                <li><a href="/offers">Предложение</a></li>
                <li><a href="/booking">Бронирование</a></li>
                <li><a href="/profile">Профиль</a></li>
                <li><a href="#">Вопросы к УК</a></li>
                <li><a href="#">Помощь</a></li>
            </ul>
            <div class="btn">
                <a href="/sign">Войти</a>
                <a href="/register">Зарегистрироваться</a>
            </div>
    </div>
    <section class="main">
        <div class="container">
        <div class="wrap">
            <h1>Алые паруса</h1>
            <p>Добро пожаловать</p>
        </div>
    </div>
    </section>
   <div class="container">
        
        <div class="is-my-offers__item_card col-md-12">
            <a href="/offers/:id" class="is-my-offers__item_card_title">
                <p class="is-text text-500" style="color: rgb(78, 78, 78); font-size: 18px; line-height: 16px;">Перенести мангалы за зону йоги и сделать общую мангальную зону</p>
            </a>
            <div class="is-my-offers__item_card_bottom row">
                <div class="col-md-3">
                <p class="is-text text-500 text-not-selectable" style="color: rgb(78, 78, 78); font-size: 12px; ">Разместил:<span class="ms-2" style="font-weight: 300;">кв. 1, Иван Иванов</span></p></div><div class="col-md-3 d-flex">
                    <p class="is-text text-500 text-not-selectable" style="color: rgb(78, 78, 78); font-size: 12px; ">Дата размещения:<span class="ms-2" style="font-weight: 300;">01.01.2023 00:00</span></p>
                </div>
                <div class="col-md-3">
                    <p class="is-text text-500 text-not-selectable" style="color: rgb(78, 78, 78); font-size: 12px; ">Статус:<span class="ms-2" style="font-weight: 400; color: rgb(39, 174, 96);">Активно</span></p>
                </div>
                <div class="col-md-3 d-flex justify-content-end">
                    <p class="is-text text-500 text-not-selectable" style="color: rgb(78, 78, 78); font-size: 12px; ">Проголосовало:
                        <span class="me-2 ms-2" style="font-weight: 400; color: rgb(39, 174, 96);">За: 5</span><span style="font-weight: 400; color: rgb(242, 82, 72);">Против: 1
                        </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
