<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бронирование беседки</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <div class="header">
        <div class="navbar">
            <div class="logo">
                <img src="" alt="">
            </div>
            <ul class="menu">
                <li><a href="/index">Главная</a></li>
                <li><a href="#">Моя квартира</a></li>
                <li><a href="/offers">Предложение</a></li>
                <li><a href="/bron">Бронирование</a></li>
                

            </ul>
            <div class="btn">
                <button>Профиль</button>
                <button>Вопросы к УК</button>
                <button>Помощь</button>
            </div>
        </div>
    </div>
    <div class="container">
        
        <h1>Выбор и бронирование беседки</h1>
        <div class="row">
            <div class="col-md-6">
                <h3>Список доступных беседок:</h3>
                <div id="besedkiList" class="card-deck">
                    <!-- Здесь будут добавляться беседки из JavaScript -->
                </div>
            </div>
            
        </div>
    </div>
        </div>
    </div>
</div>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>