.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 0;
}
.menu li{
   list-style-type: none;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
 }

.wrap{
    background-image: linear-gradient(0deg, rgba(255,255,255,0.6755077030812324) 20%, 
    rgba(9,195,59,0) 98%),
    url(../assets/scarlet-sails.jpg) ;
  
    max-width:1320px;
    background-position: 0 -90px;
    padding: 15px;
    border-radius: 10px;
    
}
.wrap h1 {
   text-align: start;
   
    
}
.wrap p {
    text-align: start;
   
     
 }


.container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 0 50vh;
}

.card-deck {
    margin-top: 20px;
}

.card {
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
}

.selected {
    border: 2px solid #007bff;
}

.container > h3{
    margin: 2vh 50vh;
    padding: 0 4vh;
}
