.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
    margin: 0;
}
.menu li{
   list-style-type: none;
}
.menu li a{
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 15px;
 }

 .btn a{
    padding: 8px;
    border-radius: 10px;
    background-color: #1901ec;
    font-weight: 500;
    margin-right: 5px;
    text-decoration: none;
    color: white;
 }

.wrap{
    background-image: linear-gradient(0deg, rgba(255,255,255,0.6755077030812324) 20%, rgba(9,195,59,0) 98%),url(../assets/scarlet-sails.jpg) ;
  
    max-width:1320px;
    background-position: 0 -90px;
    padding: 15px;
    border-radius: 10px;
    
}
.wrap h1 {
   text-align: start;
   
    
}
.wrap p {
    text-align: start;
   
     
 }


.container {
    padding: 20px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

form {
    border: 1px solid #ccc;
    padding: 20px;
    max-width: 50vh;
    margin-left: 50vh;
}

.container>h3{
  margin-left: 50vh;
}

.card-deck {
    margin-top: 20px;
}

.card {
    
    cursor: pointer;
    transition: transform 0.2s;
}

.card:hover {
    transform: scale(1.05);
}

.card-body {
    text-align: center;
}

.card-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    font-size: 14px;
}

.selected {
    border: 2px solid #007bff;
}
.card p {
    font-size: 15px;
    font-weight: 500;
}
.number{
    opacity: 0.9;
}




.login {
    margin: 20px auto;
    width: 300px;
    }
    .login-screen {
    background-color: #FFF;
    padding: 20px;
    border-radius: 5px
    }
    
    .app-title {
    text-align: center;
    color: #777;
    }
    
    .login-form {
    text-align: center;
    }
    .control-group {
    margin-bottom: 10px;
    }
    
    input {
    text-align: center;
    background-color: #ECF0F1;
    border: 2px solid transparent;
    border-radius: 3px;
    font-size: 16px;
    font-weight: 200;
    padding: 10px 0;
    width: 220px;
    transition: border .5s;
    }
    
    input:focus {
    border: 2px solid #3498DB;
    box-shadow: none;
    }
    
    .btn-login {
      border: 2px solid transparent;
      background: #3498DB;
      color: #ffffff;
      font-size: 16px;
      line-height: 25px;
      padding: 10px 0;
      text-decoration: none;
      text-shadow: none;
      border-radius: 3px;
      box-shadow: none;
      transition: 0.25s;
      display: block;
      width: 220px;
      margin: 0 auto;
    }
    
    .btn-login:hover {
      background-color: #2980B9;
    }
    
    .login-link {
      font-size: 12px;
      color: #444;
      display: block;
      margin-top: 12px;
    }

    .padding {
        padding: 3rem !important
    }
    
    .user-card-full {
        overflow: hidden;
    }
    
    .card-profile {
        border-radius: 5px;
        -webkit-box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
        box-shadow: 0 1px 20px 0 rgba(69,90,100,0.08);
        border: 1px solid black;
        margin-bottom: 30px;
    }
    
    .m-r-0 {
        margin-right: 0px;
    }
    
    .m-l-0 {
        margin-left: 0px;
    }
    
    .user-card-full .user-profile {
        border-radius: 5px 0 0 5px;
    }
    
    .bg-c-lite-green {
            background: -webkit-gradient(linear, left top, right top, from(#09cddb), to(#1901ec));
        background: linear-gradient(to right, #1901ec, #09cddb);
    }
    
    .user-profile {
        padding: 20px 0;
    }
    
    .card-block {
        padding: 1.25rem;
    }
    
    .m-b-25 {
        margin-bottom: 25px;
    }
    
    .img-radius {
        border-radius: 5px;
    }
    
    
     
    h6 {
        font-size: 14px;
    }
    
    .card .card-block p {
        line-height: 25px;
    }
    
    @media only screen and (min-width: 1400px){
    p {
        font-size: 14px;
    }
    }
    
    .card-block {
        padding: 1.25rem;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .card .card-block p {
        line-height: 25px;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .text-muted {
        color: #919aa3 !important;
    }
    
    .b-b-default {
        border-bottom: 1px solid #e0e0e0;
    }
    
    .f-w-600 {
        font-weight: 600;
    }
    
    .m-b-20 {
        margin-bottom: 20px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .p-b-5 {
        padding-bottom: 5px !important;
    }
    
    .m-b-10 {
        margin-bottom: 10px;
    }
    
    .m-t-40 {
        margin-top: 20px;
    }
    
    .user-card-full .social-link li {
        display: inline-block;
    }
    
    .user-card-full .social-link li a {
        font-size: 20px;
        margin: 0 10px 0 0;
        -webkit-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }



    /* форма обратной связи */
/* Стили самой формы */
.content {
    display: flex; /* делаем колонки в ряд */
    align-items: center; /* выравниваем по центру */
    justify-content: space-between; /* колонки растянутся на всю ширину */
    background: #fff;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  }
  
  /* Стили левой колонки */
  .left-side {
    width: 25%; /* занимает 25% общей ширины */
    height: 100%; /* растягиваем на всю высоту */
    position: relative; /* позиционирование относительное (для ::before) */
    display: flex;
    flex-direction: column; /* внутри элементы располагаем в колонку */
  }
  
  /* Стили разделительной линии между левой и правой колонкой */
  .left-side::before {
    content: ""; /* контент нам не нужен */
    position: absolute; /* позиционируем относительно .left-side */
    height: 70%; /* высота 70% от .left-side */
    width: 2px; /* ширина 2px */
    background: #9b9ba0;
    right: -15px; /* позиционируем справа + отступ 15px (справа) */
    top: 50%; /* выравниваем по центру */
    transform: translateY(-50%); /* выравниваем по центру */
  }
  
  /* Стили правой колонки */
  .right-side {
    width: 75%; /* занимает 75% общей ширины */
    margin-left: 75px;
  }
  
  /* Элементы левой колонки: адрес, телефон, email */
  .details {
    margin-bottom: 15px;
    text-align: center;
  }
  
  /* Общие стили для иконок */
  .details i {
    font-size: 25px; /* задаем размер */
    color: #1901ec; /* задаем цвет */
    margin-bottom: 10px;
  }
  
  /* Стили для заголовков левой колонки */
  .topic {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 7px; /* отступ снизу 7px */
  }
  
  /* Стили для текста левой колонки */
  .text-one,
  .text-two {
    font-size: 14px;
    color: #555557;
  }
  
  /* Заголовок правой колонки */
  .topic-text {
    font-size: 23px;
    font-weight: 600;
    color: #1901ec;
    margin-bottom: 10px;
  }
  
  /* Текст правой колонки */
  .right-side p {
    margin-bottom: 20px;
  }
  
  /* Контейнер для input'ов формы */
  .input-box {
    height: 50px; /* по сути задаем высоту input'а */
    width: 100%; /* ширина на всю ширину правой колонки (с учетом padding) */
    margin-bottom: 20px; /* отступаем снизу 20px */
  }
  
  /* Стили для input и textarea (поле сообщение) */
  .input-box input,
  .input-box textarea {
    height: 100%; /* растягиваем на всю высоту контейнера 50px */
    width: 100%; /* растягиваем на всю ширину */
    border: none; /* убираем внешние края */
    border-radius: 5px; /* скругляем края */
    background: #f0f1f8; /* задаем цвет фона */
    padding: 0 20px; /* отступ справа и слева 20px */
  }
  
  /* Отдельно стилизуем поле сообщение */
  .input-box textarea {
    resize: none; /* чтобы нельзя было менять высоту */
    padding: 20px;
    font-family: "Roboto", sans-serif;
  }
  
  /* Это контейнер для поля сообщение */
  .message-box {
    min-height: 110px; /* минимальная высота 110px */
  }
  
  /* Стили для контейнера кнопки */
  .button {
    display: inline-block; /* делаем блочно-строчный элемент */
  }
  
  /* Стили для самой кнопки */
  .button input[type="button"] {
    color: #fff;
    font-size: 18px;
    background: #1901ec;
    outline: none;
    border: none;
    padding: 10px 20px;
    border-radius: 7px;
    transition: 0.2s; /* чтобы плавно менялся цвет при наведении (:hover) */
  }
  
  /* Меняем цвет фона при наведении на кнопку */
  .button input[type="button"]:hover {
    background: rgb(0, 0, 207);
  }
  .is-my-offers__item_card_bottom{
    background-color: #cfcece;
    margin-right: -11px;
    margin-left: -11px;
  }
  .is-my-offers__item_card {
    border: 1px solid #cfcece;
    border-radius: 5px;
    padding: 10px;
    box-shadow: #777;
  }

  .card-b{
    border: 1px solid #cfcece ;
    display: inline-block;
    border-radius: 10px;
    box-shadow:  10px 10px #cfcece;
  }
  .card-b p{
    padding-left: 10px;
    font-weight: 500;
  }
  .card-b span{
    font-weight: 500;
    opacity: 0.8;
    text-align: end;
  }